*{
	margin: 0px;
	padding: 0px;
}

h1{
	font-family: inherit;
	padding: 30px;
	text-align: center;
}
p.one{
	color: blue;
}
h2{
	padding: 10px;
	text-align: center;
}
h2{
	padding: 10px;
}
div{
	border: 2px solid blue;
}
